<div class="container-fluid">
  <div class="row" id="notificationRow">
    <div class="col-11">
      <mat-card style="margin: 5%;">
        <div class="row">
          <div class="col-6 b-light" id="notification-right-panel">
            <h5 class="d-block p-2">Add New Notification</h5>
            <mat-form-field class="col-8">
              <mat-label>Notification Title</mat-label>
              <input #inputNotificationTitle matInput placeholder="Notification Title" [(ngModel)]="NotificationTitle">
            </mat-form-field>
            <mat-form-field class="col-5">
              <mat-label>Target</mat-label>
              <mat-select #notificationTarget [(ngModel)]="NotificationTarget">
                <mat-option *ngFor="let target of ['GARMENT','CUSTOMER','ALL']" value="{{target}}">
                  {{target}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-10 ml-auto mr-auto">
              <mat-label>Enter notification body</mat-label>
              <textarea #inputNotificationBody matInput placeholder="Enter multiline notification here"
                [(ngModel)]="NotificationBody"></textarea>
            </mat-form-field>
          </div>
          <div class="clo-6" style="width: 100%;">
            <button class="col-3 btn btn-danger float-right mr-2" (click)="addNotificaton()">Publish</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  
  <div class="col-11" style="margin: 4%;">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="tital">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tital </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Body </th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element"><button class="col-3 btn btn-primary" style="max-width: 50%;"
            (click)="update(element.id)">Update</button> </td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"><button class="col-3 btn btn-danger" style="max-width: 50%;"
            (click)="deleten(element.id)">Delete</button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
</div>

