<div id="success_alert" class="alert alert-success d-none" role="alert">
  Recovery email sent. Please check your emails.
</div>
<div id="fail_alert" class="alert alert-danger d-none" role="alert">
  Unable to send email!
</div>

<mat-card id="main-container">
  <img id="main-logo" src="assets/img/logo.png" alt="" srcset="">
  <div id="textcontainer" class="text-secondary">
    <h3>Enter your account email</h3>
    <small>your new password will be sent to your email</small>
    <input type="text" class="col-12 form-control" name="conformation-code" id="code_text" placeholder="example@domain.com">
    <button id="submit_button" (click)="sendPasswordRecoveryEmail()" class="btn btn-danger col-2">Submit</button>
  </div>
</mat-card>
