<div id="main-container" class="container-fluid">
  <img id="logo_img" src="assets/img/redcore-designer-logo-no-background.png" alt="" srcset="">
  <h1 class="display-4"><small>About us</small></h1>
  <div class="row p-3">
   <div class="col-10">
    We are well experienced in manufacturing a range of high quality t-shirts ,all sports wear and any event promoting item ! Mugs,Wrist bands, Umbrellas, hats, caps, T-shirts (All garments!) including single jersey, dryfit , pique (polo), wetlook or any material of your choice!
    <br>
    <br>
    ....WE BRING YOUR IMAGINATION TO REALITY....
    <br>
   </div>
  </div>
  <mat-divider></mat-divider>
  <h1 class="display-4"><small>Our Services</small></h1>
  <div class="row">
    <mat-card class="ml-2 col-3 mt-2 ml-auto mr-auto text-center">
      <img mat-card-image src="assets/img/kuweniTshirt.jpg" alt="" srcset="">
      <mat-card-footer>Print Your Designs</mat-card-footer>
    </mat-card>
    <mat-card class="ml-2 col-3 mt-2 ml-auto mr-auto text-center">
      <img mat-card-image src="assets/img/fast-delivery.jpg" alt="" srcset="">
      <mat-card-footer>On time delivery</mat-card-footer>
    </mat-card>
    <mat-card class="ml-2 col-3 mt-2 ml-auto mr-auto text-center">
      <img mat-card-image src="assets/img/dollar.png" alt="" srcset="">
      <mat-card-footer>Best price for value</mat-card-footer>
    </mat-card>
    <mat-card class="ml-2 col-3 mt-2 ml-auto mr-auto text-center">
      <img mat-card-image src="assets/img/friendly.jpg" alt="" srcset="">
      <mat-card-footer>Friendly Service</mat-card-footer>
    </mat-card>
  </div>
  <h1 class="display-4 mt-3"><small>Contact Us</small></h1>
  <div class="row p-3">
   <div class="col-10">
       <img id="owner_image" class="col-3 float-left" src="assets/img/redcore-owner.jpg" alt="" srcset="">
       <div class="p-3 col-6 float-left">
         <h5>Owner</h5>
         <hr>
         D.R.Wanniarachchi
         <br>
         tel: 0755629832
        <br>
        email: redcoreclothing@gmail.com
       </div>
   </div>
  </div>

</div>
