body{
  background-color: red;
}

#logo_img{
  width: 40%;
}

#main-container{
  background-color:rgb(238, 238, 238);
  height: auto;
  width: 100%;
  margin: 0px;
}

#owner_image{
  // width: 20%;
}
