#main-content-1{
  min-height: 80vh ;
  margin: 0px;
  padding: 0px;
}

#side-content-1{
  padding: 2vw;
  padding-bottom: 0vw;
}

#side-content-1{
  padding: 2vw;
  margin-bottom: 0;
}

table {
  width: 95%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.example-sidenav{
  width: 50vw;
  height: 100vh;
}

#btn_place_order{
  position: absolute;
  height: 5vh;
  font-size: 2vh;
  top: 85vh;
  right: 2vw;
}

.example-container{
  padding-bottom: 0px;
  height: 93vh;
}

#btn-place-order{
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  z-index: 100;
}

#btn-place-order:hover{
  -webkit-box-shadow: 0px 0px 17px 3px rgba(194,41,54,1);
  -moz-box-shadow: 0px 0px 17px 3px rgba(194,41,54,1);
  box-shadow: 0px 0px 17px 3px rgba(194,41,54,1);
}
