#chartComponent{

}
canvas{
  width:  100% !important;
  height: 50% !important;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;

}

#ongoingIcon{
  position: relative;
  height: 50%;
}

.summaryContainer{
  height: 250px;
}

#summaryRow{
  box-sizing: border-box;
}

#redcoreNetworkRow *{
  font-size: medium;
}


#notificationRow *{
  font-size: medium;
}

#redcoreNetworkSummaryHeading{
  font-size: 30px;
}

#notificationRowHeading{
  font-size: 30px;
}

#notification-left-panel button:hover{
  color:red;
}

#notification-left-panel{
  max-height: 50vh;
  overflow: scroll;
}
