<!-- <app-sidemenu  *ngIf="this.router.url != '/sidemenu'" ></app-sidemenu> -->
<mat-sidenav-container class="main-container">

  <mat-sidenav mode="side" opened>
    <div id="logo-container">
      <img id="navbar-logo" src="assets/img/redcore-designer-logo-white.png" alt="" srcset="">
    </div>
    <div class="navmenuitem">
      <div class="selector"></div>
      Home
    </div>
    <div class="navmenuitem">
      Products
    </div>
    <div class="navmenuitem">
      Designer
    </div>
    <div class="navmenuitem">
      About
    </div>
    <div class="navmenuitem">
      Contact Us
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar *ngIf="this.router.url != '/navbar'" ></app-navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
