
$sidemenuWidth: 15vw;
$themeColor : rgb(57, 57, 82);
$highlightColor: rgb(46, 46, 65);

*{
  box-sizing: border-box;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

#navbar-logo{
  width: $sidemenuWidth;
  height: 7vh;
  padding-left: 1px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: $highlightColor;
  cursor: pointer;
}

mat-sidenav{
  background-color: $themeColor;
}

.navmenuitem{
  height: 7vh;
  line-height: 7vh;
  vertical-align: middle;
  padding: 10px;
  font-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(192, 192, 192);
  padding-left: 18px;
  cursor: pointer;
}

.selected{
  background-color: $highlightColor;
  padding: 0px;
  .selector{
    display: block;
  }
}

.deselected{
  background-color:  $themeColor;
  padding: 0px;
  .selector{
    display: none;
  }
}

.navmenuitem:hover {
  background-color: $highlightColor;
  padding: 0px;
  // .selector{
  //   display: block;
  // }
}

.selector{
  width: 0.4vw;
  height: 100%;
  background-color: rgb(135, 135, 197);
  float: left;
  margin-right: 1vw;
  display: none;
}
