
<div id="side-content-1" style="padding: 5%;" class="example-container">
    <h5 class="d-block p-2">Update Notification</h5>
    <mat-form-field class="col-8">
        <mat-label>Notification Id</mat-label>
        <input #inputNotificationTitle matInput placeholder="Notification Title" disabled [(ngModel)]="NotificationId">
    </mat-form-field>
    <mat-form-field class="col-8">
        <mat-label>Notification Title</mat-label>
        <input #inputNotificationTitle matInput placeholder="Notification Title" [(ngModel)]="NotificationTitle">
    </mat-form-field>
    <mat-form-field class="col-5">
        <mat-label>Target</mat-label>
        <mat-select #notificationTarget [(ngModel)]="NotificationTarget">
            <mat-option *ngFor="let target of ['GARMENT','CUSTOMER','ALL']" value="{{target}}">
                {{target}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="col-10 ml-auto mr-auto">
        <mat-label>Enter notification body</mat-label>
        <textarea #inputNotificationBody matInput placeholder="Enter multiline notification here"
            [(ngModel)]="NotificationBody"></textarea>
    </mat-form-field>

    <div class="col-12" id="btn-quotation-request">
        <button class="col-3 btn btn-danger float-right mr-2" (click)="updateNotificaton()">Publish</button>
    </div>

    <div class="col-12" style="height: 10vh;"></div>
</div>