<img src="{{OrderImageURL}}" *ngIf="mode=='READ'" class="col-5 ml-auto mr-auto" alt="" srcset="">
<div id="side-content-1" class="example-container" [class.inputMode]="mode=='INPUT'">
  <h5 class="display-4 text-secondary font-weight-bold" *ngIf="mode=='INPUT'" style="font-size: xx-large;"><span class="text-danger">Red</span><span class="text-dark">Core</span> Order</h5>
  <small class="text-secondary" *ngIf="mode=='INPUT'">Enter order details below</small>

  <div *ngIf="mode=='INPUT'" [class.d-none]="!success" id="success-div" class="alert alert-success">
    Order placed
    <br>
    <small>Please note that the order will be started to process after the initial payment</small>
  </div>
  <div *ngIf="mode=='INPUT'" [class.d-none]="!fail" id="success-div" class="alert alert-danger">
      Request failed!<small> <br> Please retry or if the problem persists contact through contact number</small>
  </div>

  <span class="mb-4" style="font-size: x-large;" *ngIf="mode=='READ'" >{{Order.name}}</span>

  <mat-form-field>
    <input matInput placeholder="Order Name" [disabled] = "mode=='READ'" [(ngModel)]="Order.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>QuotationID</mat-label>
    <mat-select [disabled]="mode=='READ'" [(ngModel)]="Order.quotationid">
      <mat-option *ngFor="let quotation of QuotationList" [value]="quotation">
        {{quotation}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="OrderID" [disabled] = "mode=='READ'" [(ngModel)]="Order._id">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="Status" [disabled] = "mode=='READ'" [(ngModel)]="Order.status">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="CustomerID" [disabled] = "mode=='READ'" [(ngModel)]="Order.customerid">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="GarmentID" [disabled] = "mode=='READ'" [(ngModel)]="Order.garmentid">
  </mat-form-field>

  <mat-form-field >
    <input matInput placeholder="Amount" type="number" [disabled] = "mode=='READ'" [(ngModel)]="Order.amount">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="Price" type="number" [disabled] = "mode=='READ'" [(ngModel)]="Order.price">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="Paid" type="number" [disabled] = "mode=='READ'" [(ngModel)]="Order.paid">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="Placed Date" type="date" [disabled] = "mode=='READ'" [(ngModel)]="Order.placeddate">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Due Date" type="date" [disabled] = "mode=='READ'" [(ngModel)]="Order.duedate">
  </mat-form-field>

  <div class="col-12" id="btn-place-order" *ngIf="mode=='INPUT'">
    <button class="btn btn-danger btn-rounded col-3" style="float: right;" (click)="placeOrder()">Place Order</button>
  </div>


  <button *ngIf="mode=='INPUT'" id="btn-modal-close" mat-button (click)="modalRef.close()" class="btn btn-sm col-1 float-right btn-danger p-0 m-2"><small>X</small></button>
</div>
