<img src="{{OrderImageURL}}" *ngIf="mode=='READ'" class="col-6 ml-auto mr-auto" alt="" srcset="">
<div id="side-content-1" class="example-container" [class.inputMode]="mode=='INPUT'">
  <span class="display-4 mb-4">{{Order.name}}</span>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="OrderID" [disabled] = "mode=='READ'" value="{{Order.id}}">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="Status" [disabled] = "mode=='READ'" value="{{Order.status}}">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="CustomerID" [disabled] = "mode=='READ'" value="{{Order.customerID}}">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input matInput placeholder="GarmentID" [disabled] = "mode=='READ'" value="{{Order.garmentID}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="QuotationID" [disabled] = "mode=='READ'" value="{{Order.quotationID}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="DesignID" [disabled] = "mode=='READ'" value="{{Order.designID}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Amount" [disabled] = "mode=='READ'" value="{{Order.amount}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Price" [disabled] = "mode=='READ'" value="{{Order.price}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Paid" [disabled] = "mode=='READ'" value="{{Order.paid}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Placed Date" [disabled] = "mode=='READ'" value="{{Order.placedDate}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Due Date" [disabled] = "mode=='READ'" value="{{Order.dueDate}}">
  </mat-form-field>
</div>
