<img src="{{Quotation.image}}" class="col-5" alt="" srcset="">
<div id="side-content-1" class="example-container">
  <span class="display-4 mb-4">QID: {{Quotation.id}}</span>

  <mat-form-field>
    <input matInput placeholder="CustomerID" [disabled] = "mode=='READ'" value="{{Quotation.customerID}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Name" [disabled] = "mode=='READ'" value="{{Quotation.name}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="DesignID" [disabled] = "mode=='READ'" value="{{Quotation.designID}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Request Date" [disabled] = "mode=='READ'" value="{{Quotation.requestDate}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="IssuedDate" [disabled] = "mode=='READ'" value="{{Quotation.issuedDate}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Valid Period" [disabled] = "mode=='READ'" value="{{Quotation.validPeriod}}">
  </mat-form-field>

  <h5 class="text-secondary">Estimated Unit Costs</h5>
  <mat-form-field>
    <input matInput placeholder="100-300 units" [disabled] = "mode=='READ'" value="{{Quotation.price100_300}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="301-500 units" [disabled] = "mode=='READ'" value="{{Quotation.price300_500}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="501-1000 units" [disabled] = "mode=='READ'" value="{{Quotation.price500_1000}}">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Above 1000 units" [disabled] = "mode=='READ'" value="{{Quotation.priceAbove1000}}">
  </mat-form-field>
</div>
