<img *ngIf="mode=='READ'" src="https://lh3.googleusercontent.com/proxy/-DcWESDSpqYUQOcVfapsg5FnfulQrCgKgc9E571Sj0CzdAEHxbn6Gu8REjSMfBvq1wmkWNne6bHp84qnz7IQ82C1nN0AQHbOMeY39KV2JNieI7dFarZI" class="col-4" alt="" srcset="">
<div id="side-content-1" class="example-container">
  <h5 class="display-4 text-secondary font-weight-bold" *ngIf="mode=='INPUT'" style="font-size: xx-large;"><span class="text-danger">Red</span><span class="text-dark">Core</span> Quotation</h5>
  <mat-form-field *ngIf="mode=='READ'">
    <input class="col-12" matInput placeholder="QuotationID" disabled [(ngModel)]="quotationid" >
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input class="col-12" matInput placeholder="CustomerID" disabled [(ngModel)]="customerid">
  </mat-form-field>

  <mat-form-field>
    <input class="col-12" matInput  placeholder="Name" [disabled]="mode=='READ'||user.type!=='CUSTOMER'" [(ngModel)]="name">
  </mat-form-field>

  <mat-radio-group [(ngModel)]="designType" [disabled]="mode=='READ'||user.type!=='CUSTOMER'" aria-label="Design Type">
    <mat-radio-button value="REDCORE_DESIGN">Redcore</mat-radio-button>
    <mat-radio-button class="ml-2" value="CUSTOM_DESIGN">Custom</mat-radio-button>
  </mat-radio-group>

  <mat-form-field *ngIf="designType=='REDCORE_DESIGN'">
    <input class="col-12" matInput placeholder="DesignID" [disabled] = "mode=='READ'||user.type!=='CUSTOMER'" [(ngModel)]="designID">
  </mat-form-field>

  <mat-form-field *ngIf="designType=='CUSTOM_DESIGN'">
    <input class="col-12" matInput placeholder="DesignURL" [disabled] = "mode=='READ'||user.type!=='CUSTOMER'" [(ngModel)]="designURL">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input class="col-12" matInput placeholder="Request Date" disabled [(ngModel)]="requestDate">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input class="col-12" matInput placeholder="Issued Date" disabled [(ngModel)]="issuedDate">
  </mat-form-field>

  <mat-form-field *ngIf="mode=='READ'">
    <input class="col-12" matInput placeholder="Valid Period" [disabled] = "user.type=='CUSTOMER'" type="number" [(ngModel)]="validPeriod">
  </mat-form-field>

  <mat-form-field>
    <input class="col-12" matInput placeholder="Quantity" [disabled] = "mode=='READ'||user.type!=='CUSTOMER'" [(ngModel)]="quantity">
  </mat-form-field>

  <mat-form-field  *ngIf="mode=='READ'">
    <input class="col-12" matInput  placeholder="Status" [disabled] = "user.type=='CUSTOMER'" [(ngModel)]="status">
  </mat-form-field>

  <mat-form-field>
    <input class="col-12" matInput  placeholder="Material" [disabled] = "mode=='READ'||user.type!=='CUSTOMER'" [(ngModel)]="material">
  </mat-form-field>

  <h6 class="text-secondary">Sleeve Type</h6>
  <mat-radio-group [(ngModel)]="sleeveType" [disabled]="mode=='READ'" aria-label="Sleeve Type">
    <mat-radio-button value="SHORT">Short</mat-radio-button>
    <mat-radio-button class="ml-3" value="LONG">Long</mat-radio-button>
  </mat-radio-group>

  <h6 class="text-secondary">Collar Type</h6>
  <mat-radio-group [(ngModel)]="collarType" [disabled]="mode=='READ'" aria-label="Collar Type">
    <mat-radio-button value="NOCOLLAR">None</mat-radio-button>
    <mat-radio-button class="ml-3" value="CHINESECOLLAR">Chinese</mat-radio-button>
  </mat-radio-group>

  <div class="col-12">
    <button class="btn btn-danger btn-rounded col-3" style="float: right;">Request</button>
  </div>

</div>
