@import '~bootstrap/dist/css/bootstrap.min.css';

canvas{
  width:  100% !important;
  height: 50% !important;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f1f1f100;
}
