<mat-sidenav-container class="example-container">
  <mat-sidenav  #sidenav mode="side" [(opened)]="opened" class="example-sidenav"
               [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
               [fixedBottomGap]="options.value.bottom" position="end">
               <button mat-button (click)="sidenav.toggle()" class="float-right btn-danger m-2">X</button>
               <app-quotation-form mode="READ"></app-quotation-form>
  </mat-sidenav>

  <mat-sidenav-content id="main-content-1" [formGroup]="options">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>

    <table mat-table [dataSource]="Quotations" class="mat-elevation-z8 ">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let Quotation"> {{Quotation.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let Quotation"> {{Quotation.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let Quotation"> {{Quotation.date}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let Quotation"> {{Quotation.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-sidenav-content>
</mat-sidenav-container>
