
<div class="container center-box">
    <div id="logo-wrapper" >
     
      <form id="form" style="font-size: small;" >
        
        
        <mat-form-field class="col-12 mt-0" >
            <label>Email:</label>
          <input name="user_email" [(ngModel)]="email" type="email" matInput  >
        </mat-form-field>
        
        <mat-form-field class="col-12 mt-0">
            <label>First Name:</label>
          <input name="user_firstname"   [(ngModel)]="firstName" type="text" matInput >
        </mat-form-field>
        <mat-form-field class="col-12 mt-0">
            <label>Last Name:</label>
          <input name="user_lastname"   [(ngModel)]="lastName" type="text" matInput >
        </mat-form-field>
        <mat-form-field class="col-12 mt-0">
            <label>Address:</label>
          <input name="user_address"   [(ngModel)]="address" type="text" matInput >
        </mat-form-field>
        <mat-form-field class="col-12 mt-0">
            <label>TelNo:</label>
          <input name="user_tel"   [(ngModel)]="tel" type="tel" matInput  >
        </mat-form-field>
        <div id="button-panel" class="mt-1">
          <button mat-button type="button" (click)="Update()" class="btn btn-primary float-right pl-2 pr-2 pt-1 pb-1 col-4" style="background-color: rgb(117, 0, 0); border-color: rgb(117, 0, 0); border-radius: 4px; ">
           update
          </button>
        </div>
       
      </form>
    </div>
    
  </div>
  