#main-content-1{
  min-height: 80vh ;
  margin: 0px;
  padding: 0px;
}

#side-content-1{
  padding: 2vw;
}

#side-content-1{
  padding: 2vw;
}


table {
  width: 95%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.example-sidenav{
  width: 50vw;
}

