#main-content-1{
  min-height: 80vh ;
  margin: 0px;
  padding: 0px;
}

#side-content-1{
  padding: 2vw;
  padding-bottom: 0vw;
}

#side-content-1{
  padding: 2vw;
  margin-bottom: 0;
}

table {
  width: 95%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.example-sidenav{
  width: 50vw;
  height: 100vh;
}

#btn_place_order{
  position: absolute;
  height: 5vh;
  font-size: 2vh;
  top: 85vh;
  right: 2vw;
}

.example-container{
  padding-bottom: 0px;
  height: 93vh;
}
