<div class="container center-box">
  <div id="logo-wrapper">
    <img src="assets/img/flatLogoNoBackground.png" alt="" id="flatlogo" class="contained">
    <form id="loginform" style="font-size: small;" >
      <span id="welcome-text" class="graytext small">Create new account below.</span>
      <div id="warning-div" class="alert alert-danger d-none">
        User already exists!
      </div>
      <mat-form-field class="col-12 mt-0">
        <input name="user_email"  id="input-email" [(ngModel)]="email" type="email" matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field class="col-12 mt-0">
        <input name="user_password1"  id="input-password1" [(ngModel)]="password1" type="password" matInput placeholder="Password">
      </mat-form-field>
      <mat-form-field class="col-12 mt-0">
        <input name="user_password2"  id="input-password2" [(ngModel)]="password2" type="password" matInput placeholder="Repeat Password">
      </mat-form-field>
      <mat-form-field class="col-12 mt-0">
        <input name="user_firstname"  id="input-firstname" [(ngModel)]="firstName" type="text" matInput placeholder="First Name">
      </mat-form-field>
      <mat-form-field class="col-12 mt-0">
        <input name="user_lastname"  id="input-lastname" [(ngModel)]="lastName" type="text" matInput placeholder="Last Name">
      </mat-form-field>
      <mat-form-field class="col-12 mt-0">
        <input name="user_firstname"  id="input-firstname" [(ngModel)]="firstName" type="text" matInput placeholder="NIC">
      </mat-form-field>
      <mat-form-field class="col-12 mt-0">
        <input name="user_address"  id="input-address" [(ngModel)]="address" type="text" matInput placeholder="Address">
      </mat-form-field>
      <mat-form-field class="col-12 mt-0">


        <input name="user_tel"  id="input-telNo" [(ngModel)]="tel" type="tel" matInput placeholder="TelNo">
      </mat-form-field>
      <div id="button-panel" class="mt-1">
        <button type="button" (click)="signUp()" class="btn btn-primary float-right pl-2 pr-2 pt-1 pb-1 col-4" style="background-color: rgb(117, 0, 0); border-color: rgb(117, 0, 0); border-radius: 4px;">
          Register
        </button>
      </div>
      <div id="termsofuse">
        Terms of use.Privacy policy.
      </div>
    </form>
  </div>
  <div id="login-wrapper">
      <img src="/assets/img/logo.png" alt="LOGO" class="contained">
  </div>
</div>
