@import "~bootstrap/dist/css/bootstrap.css";

*{
  box-sizing: border-box;
}

body{
  background-size: cover;
  background-color: white;
}


.center-box{
  width: 80%;
  min-width: 80%;
  min-height: 80%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#logo-wrapper{
  background-color:rgba(255, 255, 255, 0.589);
  height: 90%;
  min-height: 90%;
  width: 45%;
  min-width: 45%;
  float: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-box-shadow: 36px 3px 37px 45px rgba(255,255,255,0.589);
  -moz-box-shadow: 36px 3px 37px 45px rgba(255,255,255,0.589);
  box-shadow: 36px 3px 37px 45px rgba(255,255,255,0.589);
}

#login-wrapper{
  background-color:rgba(0, 0, 0, 0);
  height: 90%;
  width: 45%;
  float: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-100%, -50%);
}

.contained{
  max-height: 80%;
  max-width: 80%;
  position: relative;
  margin: 10%;
}

#flatlogo{
  margin-top: 5%;
  margin-bottom: 0px;
  display: block;
}

.graytext{
  color:grey
}

#welcome-text{
  display: block;
  color: rgb(75, 75, 75);
  text-align: center;
  font-size: small;
}

#loginform{
  padding: 2%;
  padding-top: 0;
  max-height: 100%;
  overflow-y: scroll;
}

#loginform::-webkit-scrollbar{
  display: none;
}

.form-item {
  display: block;
  padding: .5%;
  margin-top: 2%;
}

.form-item:first-of-type{
  margin-top: 10%;
}

.form-item label{
  display: inline-block;
  width: 20%;
  font-size: smaller;
  margin-left: 5%;
  color: rgb(128, 128, 128);
}

.form-item input{
  margin-left: 5%;
  width: 70%;
  background: transparent;
  border: none;
  border-bottom: 1px ;
  color: rgb(82, 82, 82);
}

.form-item input:focus{
  outline: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0px;
  padding: 0;
}

.form-footer-text{
  color: rgb(95, 95, 95);
  font-size: small;
}

#button-panel{
  height: 10vh;
  width: 100%;
}

#termsofuse{
  font-size: x-small;
  display: block;
  text-align: center;
  color: gray;
}

#backButton{
  position: fixed;
  left: 1vw;
  top: 1vh;
}
